.taskItem {
    background: var(--gray-500);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.check {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid var(--blue-500);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.check[data-state="checked"] {
  background-color: var(--purple-700);
  border: 2px solid var(--purple-700);
}

.titleTask {
    color: var(--gray-100);
    font-size: 0.875rem;

    flex: 1;
}

.completedTitle {
  font-size: 0.875rem;

  flex: 1;

  text-decoration: line-through;
  color: var(--gray-300);
}

.taskItem > button {
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    color: var(--gray-300);

    border: 0;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.taskItem > button:hover {
    background: var(--gray-400);
    color: var(--red-500);
}

